
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>


<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

  <header class="topbar" data-navbarbg="skin5">
     <app-navbar></app-navbar>
  </header>

  <div class="scroll-sidebar">
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
  </div>
</div>
